<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p th:text="${message}"></p>

    <form th:action="@{/cadastro}" method="post" th:object="${candidate}">
      <label htmlFor="name">Nome do candidato</label>
      <input type="text" name="name" id="name" />

      <label htmlFor="email">Email do candidato</label>
      <input type="text" name="email" id="email" />

      <label htmlFor="username">Usuario do candidato</label>
      <input type="text" name="username" id="username" />

      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
